@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  overflow-x: hidden;
  background: #277391;
  min-height: 100vh;
}



nav{
  display: flex;
}


.burger{
  z-index: 1;
  display: none;
}

.burger div{
  background-color: rgb(226, 226, 226);
  width: 25px;
  height: 3px;
  margin: 5px;
  transition: all 0.3s ease;
  
}

@media screen and (max-width: 1024px){
  .nav-links{
      width: 60%;
  }
  
}


@media screen and (max-width: 768px){
  body{
      overflow-x: hidden;
  }

  .nav-links{
    z-index: 1;
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #6791d1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
}
  .nav-links li{
    padding-bottom: 80px;
    opacity: 0;
  }
  

  .burger{
    display: block;
  }
  
  .main-title{
    display: none;
  }

}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
      opacity: 0;
      transform: translateX(50px);
  }
  to{
      opacity: 1;
      transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
  opacity: 0;
}

.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}

#header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

#header .logo{
  display: flex;
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
  text-decoration: none;
}

#header ul{
  display: flex;
  justify-content: center;
  align-items: center;
}

#header ul li{
  list-style: none;
  margin-left: 20px;

}

#header ul li a{
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}

#header ul li a:hover,
#header ul li a.active
{
  background: #094b65;
  color: #fff;
}

.main-title{
  position: absolute;
  top: 17%;
  left: 43%;
  font-size: 2rem;
  transform: translate(-43%,-17%);
  color: #fff;
  z-index: 1;
}

section{
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
}

section img{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


#table{
  padding-top: 4%;
  padding-bottom: 10%;
  background-color: #277391;
  align-items: center;
}

.fill{
  background-color:rgba(240, 248, 255, 0.746)
}

.table-border{
  background-color: rgb(94, 194, 224);
  padding-bottom: 2rem;
}


.tab-elements{
  padding: 5px;
}

table{
  margin-top: 50px;
  text-align: center;
  color:white;
  border-radius: 15px;
}
#show th, #show td{
  padding: 13px;
}
#btna td input{
  width:25%;
}